
main{
    img{
        div{
            div{
                h1{
                h2{
                br{
                p{
                    color:$color-parrafo
                    padding: 10px;
                    margin:5px;   
        
 footer{
        a{
        a{
        a{
    }
}
}
}
}
}
}
}
}
}
}

